<footer class="custom-container position-relative mt-54 pb-5 footer-border">
    <form action="/emailing" method="POST">
        <div class="row pt-2 ">
            <div class="col-lg-2 col-md-4 col-sm-4 col-6 pl-0 pr-0">
                <input type="email" class="form-control-footer" id="emailFooter" name="emailFooter" placeholder="name@example.com" required>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6 pl-0 pr-0">
                <button type="submit" class="btn txt-14 red ">подписаться</button>
            </div>
            <div class="col-lg-8 col-md-4 col-sm-4 col-12 pr-0 pl-0 text-right">
                <small class="d-block mb-3 text-muted">&copy; Старая школа, 2019</small>
            </div>
        </div>
    </form>
</footer>
