<header class="overflow-hidden sticky-top">
    <nav class="nav navbar-expand-md header navbar-light justify-content-between ">
        <a href="/" class="float-left "><img src="images/logo2.png" class="width-lg-54 my-auto"></a>
        <!-- Collapse for small windows -->
        <button class="navbar-toggler justify-content-end" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="float-right">
                 <i class="fa fa-bars"></i>
            </span>
        </button>

        <div class="collapse navbar-collapse justify-content-end my-auto" id="navbarCollapse">
            <span class="header-line">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <h3><a class="nav-link" href="/">О нас</a></h3>
                </li>
                <li class="nav-item">
                    <h3><a class="nav-link" href="/courses">Курсы</a></h3>
                </li>
                <li class="nav-item">
                    <h3><a class="nav-link" href="/articles">Статьи</a></h3>
                </li>
                <li class="nav-item">
                    <h3><a class="nav-link" href="/reviews">Отзывы</a></h3>
                </li>
                <li class="nav-item">
                    <h3><a class="nav-link" href="/contacts">Контакты</a></h3>
                </li>
                <li class="nav-item">
                    <h3><a class="nav-link" href="/FAQ">FAQ</a></h3>
                </li>
            </ul>
            </span>
        </div>
    </nav>
</header>