<%- include('./includes/head.ejs') %>
<body>
    <!-- Header -->
    <%- include('./includes/header.ejs') %>
    <main>
        <div class="custom-container mt-108 mb-90">
            <div class="row justify-content-center">
                <div class="col-md-6 col-sm-8 text-center">
                    <p class="txt-40 text-center">Страница не найдена</p>
                    <a href="/"> <p class="txt-26 btn red pt-4 ">Вернуться обратно</p></a>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer -->
    <%- include('./includes/footer.ejs') %>
    <%- include('./includes/end.ejs') %>
</body>
</html>