<%- include('./includes/head.ejs') %>
<body>
    <!-- Header -->
    <%- include('./includes/header.ejs') %>
    <main>

    </main>
    <!-- Footer -->
    <%- include('./includes/footer.ejs') %>
    <%- include('./includes/end.ejs') %>
</body>
</html>