<%- include('./includes/head.ejs') %>
<body>
    <!-- Header -->
    <%- include('./includes/header.ejs') %>
    <main>
        <div class="custom-container">
            <div class="row float-right pt-54">
                <div class="col-lg-12">
                    <img src="images/qa.png" class="img-fluid width-75 float-right" alt="q&a">
                </div>
            </div>
            <div class="row pt-54 clear-right">
                <div class="col-lg-8 col-md-8 col-sm-12 pl-0 pr-0">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <button class="btn button-faq txt-30 font-playfair" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <img src="images/Strelki.png" class="width-sm-16">
                                    &nbsp;&nbsp;&nbsp; —  Особую благодарность приношу центру в Белладжо, который так помог моему успеху?
                                </button>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="txt-26 font-playfair">
                                                — Подумал он наконец, — следовало бы просто на смелую ногу и с откровенностью, не лишенною благородства: дескать,
                                                так и так, Андрей Филиппович, тоже приглашен на обед, да и только!» Потом, вдруг вспомнив, что срезался,
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="txt-26 font-playfair">
                                                герой наш вспыхнул как огонь, нахмурил брови и бросил страшный вызывающий взгляд в передний угол кареты,
                                                взгляд так и назначенный с тем, чтоб испепелить разом в прах всех врагов его заклятых.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <button class="btn button-faq collapsed txt-30 font-playfair" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <img src="images/Strelki.png" class="width-sm-16">
                                    &nbsp;&nbsp;&nbsp; — Этот роман вдохновлен эмиграцией в Америку в 1876 году Хелены Моджеевской, знаменитой польской актрисы,
                                    с мужем графом Каролем Хлаповским, пятнадцатилетним сыном Рудольфом?
                                </button>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="txt-26 font-playfair">
                                                — Подумал он наконец, — следовало
                                                бы просто на смелую ногу и с откровенностью, не лишенною благородства: дескать, так и так,
                                                Андрей Филиппович, тоже приглашен на обед, да и только!» Потом, вдруг вспомнив,
                                                что срезался, герой наш вспыхнул как огонь, нахмурил брови и бросил
                                                страшный вызывающий взгляд в передний угол кареты, взгляд так и на
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="txt-26 font-playfair">
                                                значенный с тем, чтоб испепелить разом в прах всех врагов его. Наконец,
                                                вдруг, по вдохновению какому-то, дернул он за снурок, привязанный к локтю
                                                извозчика-кучера, остановил карету и приказал поворотить назад, на Литейную.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <button class="btn button-faq collapsed txt-30 font-playfair" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <img src="images/Strelki.png" class="width-sm-16">
                                    &nbsp;&nbsp;&nbsp; — У Хелены Моджеевской, знаменитой польской актрисы, вместе с мужем
                                    графом Каролем Хлаповским, пятнадцатилетним сыном Рудольфом?
                                </button>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="txt-26 font-playfair">
                                                По-видимому, Крестьян Иванович нисколько не ожидал
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="txt-26 font-playfair">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <button class="btn button-faq collapsed txt-30 font-playfair" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <img src="images/Strelki.png" class="width-sm-16">
                                    &nbsp;&nbsp;&nbsp; —  Особую благодарность приношу центру в Белладжо, который так помог моему успеху?
                                </button>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="txt-26 font-playfair">
                                                Герой наш вспыхнул как огонь, нахмурил брови и бросил
                                                страшный вызывающий взгляд в передний угол кареты, взгляд так и на
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="txt-26 font-playfair">
                                                значенный с тем, чтоб испепелить разом в прах всех врагов его. Наконец,
                                                вдруг, по вдохновению какому-то, дернул он за снурок, привязанный к локтю
                                                извозчика-кучера, остановил карету и приказал поворотить назад, на Литейную.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <button class="btn button-faq collapsed txt-30 font-playfair" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    <img src="images/Strelki.png" class="width-sm-16">
                                    &nbsp;&nbsp;&nbsp; — Этот роман вдохновлен эмиграцией в Америку в 1876 году Хелены Моджеевской, знаменитой польской актрисы,
                                    с мужем графом Каролем Хлаповским, пятнадцатилетним сыном Рудольфом?
                                </button>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="txt-26 font-playfair">
                                                Значенный с тем, чтоб испепелить разом в прах всех врагов его. Наконец,
                                                вдруг, по вдохновению какому-то, дернул он за снурок, привязанный к локтю
                                                извозчика-кучера, остановил карету и приказал поворотить назад, на Литейную.
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="txt-26 font-playfair">
                                                — Подумал он наконец, — следовало
                                                бы просто на смелую ногу и с откровенностью, не лишенною благородства: дескать, так и так,
                                                Андрей Филиппович, тоже приглашен на обед, да и только!» Потом, вдруг вспомнив,
                                                что срезался, герой наш вспыхнул как огонь, нахмурил брови и бросил
                                                страшный вызывающий взгляд в передний угол кареты, взгляд так и на
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingSix">
                                <button class="btn button-faq txt-30 font-playfair" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                    <img src="images/Strelki.png" class="width-sm-16" >
                                    &nbsp;&nbsp;&nbsp; —  Особую благодарность приношу центру в Белладжо, который так помог моему успеху?
                                </button>
                            </div>

                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="txt-26 font-playfair">
                                                Значенный с тем, чтоб испепелить разом в прах всех врагов его. Наконец,
                                                вдруг, по вдохновению какому-то, дернул он за снурок, привязанный к локтю
                                                извозчика-кучера, остановил карету и приказал поворотить назад, на Литейную.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-sm-none d-md-block ">
                    <img src="images/2.jpg"  class="img-fluid">
                </div>
            </div>
        </div>
    </main>
    <!-- Footer -->
    <%- include('./includes/footer.ejs') %>
    <%- include('./includes/end.ejs') %>
</body>
</html>