<%- include('./includes/head.ejs') %>

<body>
    <!-- Header -->
    <%- include('./includes/header.ejs') %>
    <main>
        <div class="custom-container mt-108">

            <!-- First mini-page with title -->
            <div class="row d-none d-sm-block">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <img src="images/firstpage.png" class="img-fluid pb-24" alt="logo">
                </div>
            </div>
            <div class="row d-block d-sm-none">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <img src="images/firstpage-small.png" class="img-fluid pb-24" alt="logo">
                </div>
            </div>
            <div class="row mb-90">
                <div class="col-lg-8">
                    <p class="txt-40">Краткая инфмормация <span class="red">«сама суть»</span>, слова, привлекающие внимание.<br>
                        Столь же ценна была бы критика, предложившая действительно точное, четкое,
                        любовное описание внешнего в художественном произведении. К числу таких чрезмерно
                        покладистых авторов принадлежит Томас Манн и другие авторы.
                    </p>
                    <a href="articles.html"><h3 class="float-right red"><i>читать далее</i></h3></a>
                </div>
                <div class="col-lg-4 my-auto float-right pr-0 pt-4">
                    <a href="webinar.html" class="float-right"><img src="images/banner.png" class="img-fluid width-85 float-right" alt="banner"></a>
                </div>
            </div>
            <!-- End of first mini-page -->

            <!-- Second page about ppl which we can help -->
            <h2>Кому поможет</h2>
            <div class="row pt-4 mb-90">
                <div class="col-lg-8 col-md-8 col-sm-12 col-12 pr-0 pl-0">
                    <div class="row pb-2">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 prl-10">
                            <h3 class="pb-2">Родителям</h3>
                            <p>Столь же ценна была бы критика, предложившая действительно точное, четкое,
                                любовное описание внешнего в художественном произведении. Задача эта представляется даже более трудной,
                                чем формальный анализ. Среди редких примеров того, о чем идет здесь речь, назову критические работы
                                Мэнни Фарбера о кино, работу Дороти Ван Гент «Мир Диккенса: вид из Тоджера» и Рэндалла Джаррелла об Уитмене.
                                Эти очерки открывают чувственную поверхность произведений, а не возятся под ней.
                                <br>Бегство от интерпретации особенно заметно в современной живописи.
                            </p>
                            <a href="articles.html" class="float-right red txt-26 pb-2"><i>читать далее</i></a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <h3 class="pb-2">Ученикам</h3>
                            <p>Бегство от интерпретации особенно заметно в современной живописи. Абстрактная
                                живопись – это попытка изгнать содержание в обычном смысле слова; где нет содержания, там нечего истолковывать.
                                Противоположным путем к тому же результату идет поп-арт: пользуясь содержанием, таким очевидным,
                                таким «как есть», он тоже становится неинтерпретируемым. Наша культура зиждется на избытке,
                                перепроизводстве.Бегство от интерпретации особенно заметно в современной живописи.
                            </p>
                            <a href="articles.html" class="float-right red txt-26"><i>читать далее</i></a>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 pb-4">
                            <a href="about.html"><img src="images/about.png" class="img-fluid width-75" alt="about course"></a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <h3 class="pb-2">Учителям</h3>
                            <p>Когда-то (для Данте, скажем) революционным и творческим поступком было, наверно,
                                создание работ, допускающих восприятие на разных уровнях. Теперь это не так. Это лишь укрепляет принцип
                                избыточности, главный недуг нынешней жизни.<br>
                                Интерпретация принимает чувственное переживание художественного произведения
                                как данность и стартует с этой точки. Подумайте о том, какая масса произведений
                                доступна любому из нас, прибавьте сюда шквал несовместимых зрелищ, звуков, запахов,
                                обрушиваемых на наши чувства городской средой.
                            </p>
                            <a href="articles.html" class="float-right red txt-26"><i>читать далее</i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 my-auto">
                    <img src="./images/3.jpg" class="img-fluid" alt="picture 3">
                </div>
            </div><!-- End of second page -->

            <!-- Third page about ppl which we cannot help -->
            <h2>Кому не поможет</h2>
            <div class="row pt-4 mb-90">
                <div class="col-lg-4 pr-36">
                    <p>Столь же ценна была бы критика, предложившая действительно точное, четкое,
                        любовное описание внешнего в художественном произведении. Задача эта представляется даже более трудной,
                        чем формальный анализ. Среди редких примеров того, о чем идет здесь речь,
                        назову критические работы Мэнни Фарбера о кино, работу Дороти Ван Гент «Мир Диккенса: вид из Тоджера»
                        и Рэндалла Джаррелла об Уитмене. Эти очерки открывают чувственную поверхность произведений,
                        а не возятся под ней. Когда-то (для Данте, скажем) революцион-
                    </p>
                </div>
                <div class="col-lg-4 pr-36 pb-2">
                    <p> ным и творческим поступком было, наверно, создание работ, допускающих восприятие на
                        разных уровнях. Теперь это не так. Это лишь укрепляет принцип избыточности, главный
                        недуг нынешней жизни.
                        Интерпретация принимает чувственное
                        переживание художественного произведения как данность и стартует с этой точки. Но
                        теперь его нельзя принимать как данность. Подумайте о том, какая масса произведений
                        доступна любому из нас. Подумайте о том, какая масса произведений доступна любому
                        из нас, если только он того пожелает.
                    </p>
                </div>
                <div class="col-lg-4 my-auto">
                    <a href="about.html"><img src="images/step.png" class="img-fluid width-75" alt="step"></a>
                </div>
            </div> <!-- End of third page -->

            <!-- Fourth page about courses -->
            <div class="row pt-4 mb-90">
                <div class="col-lg-4 my-auto">
                    <img src="./images/1_1.jpg" class="img-fluid" alt="picture 1">
                </div>
                <div class="col-lg-8">
                    <h2 class="font-serif txt-align-right mr-0">Онлайн курсы</h2> <br>
                    <div class="row">
                        <div class="col-12 pr-0 pl-0 pb-2">
                            <p>Над проблемами интерпретации искусства Сонтаг начала думать задолго до
                                непосредственной работы над статьей, давшей заглавие ее
                                книге: по дневникам и записным книжкам условное «начало» можно
                                датировать 1956–1957 годами[2].
                                Я бы сопоставил тогдашние записи еще с одной, более ранней:
                            </p>
                        </div>
                        <div class="col-12 float-right pt-4">
                            <h3 class="red rb-corner">Записаться</h3>
                        </div>
                    </div>
                    <h2 class="font-serif txt-align-right pt-4 mr-0">Очные курсы</h2> <br>
                    <div class="row pl-0">
                        <div class="col-12 pr-0 pl-0 pb-2">
                            <p>Над проблемами интерпретации искусства Сонтаг начала думать задолго до
                                непосредственной работы над статьей, давшей заглавие ее книге:
                                по дневникам и записным книжкам условное «начало» можно датировать
                                1956–1957 годами. Над проблемами интерпретаци.
                            </p>
                        </div>
                        <div class="col-12 float-right pt-4">
                            <h3 class="red rb-corner">Записаться</h3>
                        </div>
                    </div>
                </div>
            </div> <!-- End of fourth page -->

            <!-- Fifth page about reviews -->
            <div class="row pt-4 mb-90">
                <div class="col-lg-4">
                    <p>  - Столь же ценна была бы критика, предложившая действительно точное, четкое,
                        любовное описание внешнего в художественном произведении. Задача эта представляется даже более трудной,
                        чем формальный анализ. Среди редких примеров того, о чем идет здесь речь, назову критические работы
                        Мэнни Фарбера о кино, работу Дороти Ван Гент «Мир Диккенса: вид из Тоджера» и Рэндалла Джаррелла об Уитмене.
                        Эти очерки открывают чувственную поверхность произведений, а не возятся под ней.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p> Когда-то (для Данте, скажем) революционным и творческим поступком было, наверно,
                        создание работ, допускающих восприятие на разных уровнях. Теперь это не так. Это лишь
                        укрепляет принцип избыточности, главный недуг нынешней жизни.<br>
                        Интерпретация принимает чувственное переживание художественного произведения
                        как данность и стартует с этой точки. Но теперь его нельзя принимать как данность.
                        Подумайте о том, какая масса произведений доступна любому из нас, прибавьте сюда шквал
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-12 pr-0 pl-0">
                            <p class="pb-3"> несовместимых зрелищ, звуков, запахов, обрушиваемых на наши чувства городской средой.<br>
                                Столь же ценна была бы критика, предложившая действительно точное, четкое, любовное описание.
                                <br> <i class="float-right pt-2">Фамилия Имя</i>
                            </p> <br>
                            <img src="images/vk.png" class="width-sm-24">
                            <img src="images/fb.png" class="width-sm-24">
                            <img src="images/polytech.png" class="float-right width-sm-24">
                        </div>
                        <div class="col-12 pr-0 pl-0 float-right">
                            <a href="/reviews" class="txt-60 pt-4 float-right"> <img src="images/Strelki2.png" alt="strelka"> Другие отзывы</a>

                        </div>
                    </div>
                </div>
            </div> <!-- End of fifth page -->
        </div>
    </main>
    <!-- Footer -->
    <%- include('./includes/footer.ejs') %>
    <%- include('./includes/end.ejs') %>
</body>
</html>