<%- include('./includes/head.ejs') %>

<body>
    <!-- Header -->
    <%- include('./includes/header.ejs') %>
    <main>
        <div class="custom-container pt-54">
            <!-- First row -->
            <div class="row mt-50">
                <div class="col-lg-4 pb-4">
                    <p class="txt-23 font-playfair pb-4">
                        &nbsp;&nbsp;&nbsp;Но стоит метафоре произведения как высказывания утратить силу, как исчезнет и двойственное отношение к «стилю»,
                        поскольку эта двойственность отражает предполагаемое напряжение между высказыванием и способом его высказать.
                        За термином «нравственность» стоит обычное или привычное поведение (включая чувства и поступки). <br>
                        &nbsp;&nbsp;&nbsp;Именно поэтому мы с чистой совестью можем ценить произведения искусства, которые с точки
                        <span class="red">зрения</span> только
                        «содержания» выглядят морально предосудительными. Но стоит метафоре произведения как высказывания утратить силу.
                        <br> <i class="float-right pt-1">Фамилия Имя автора </i>
                    </p>
                    <img src="images/vk.png" class="width-sm-24">
                    <img src="images/fb.png" class="width-sm-24">
                    <img src="images/itmo.png" class="float-right width-sm-64-24">

                </div>
                <div class="col-lg-4 pb-4">
                    <p class="txt-23 font-playfair pb-4">
                        &nbsp;&nbsp;&nbsp;За термином «нравственность» стоит обычное или привычное поведение (включая чувства и поступки).
                        Это своего рода кодекс действий, суждений и чувств, служащий укреплению нашей привычки поступать
                        определенным образом и предписывающий нам стандарт в духе любви. <br>
                        &nbsp;&nbsp;&nbsp;Именно поэтому мы с чистой совестью можем ценить произведения искусства, которые с точки
                        зрения только «содержания» выглядят морально предосудительными.
                        <br> <i class="float-right pt-1">Фамилия Имя автора </i>
                    </p>
                    <img src="images/vk.png" class="width-sm-24">
                    <img src="images/fb.png" class="width-sm-24">
                    <img src="images/polytech.png" class="float-right width-sm-24">
                </div>
                <div class="col-lg-4 pb-4">
                    <p class="txt-23 font-playfair pb-4">
                        &nbsp;&nbsp;&nbsp;Произведение искусства – при условии, что мы ему отдаемся, – подчиняет нас целиком и полностью.
                        Предназначение искусства – не в том, чтобы быть подспорьем истины, будь она конкретной и
                        исторической или вневременной. Как писал РобГрийе, «искусство есть всё – если оно вообще может быть чем-то,
                        – а в таком случае оно должно быть самодостаточным, и ничего за его пределами существует». <br>
                        &nbsp;&nbsp;&nbsp;Это своего рода кодекс действий, суждений и чувств, служащий укреплению нашей привычки поступать
                        определенным образом и предписывающий нам стандарт в духе любви. Произведение искусства –
                        при условии, что мы ему отдаемся, – подчиняет нас целиком.
                        <br> <i class="float-right pt-1">Фамилия Имя автора </i>
                    </p>
                    <img src="images/vk.png" class="width-sm-24">
                    <img src="images/fb.png" class="width-sm-24">
                    <img src="images/itmo.png" class="float-right width-sm-64-24">
                </div>
            </div> <!-- End of first -->
            <!-- Second row-->
            <div class="row mt-80">
                <div class="col-lg-4 pb-4">
                    <img src="images/4.jpg" class="img-fluid">
                </div>
                <div class="col-lg-4 pb-4">
                    <p class="txt-23 font-playfair pb-4">
                        &nbsp;&nbsp;&nbsp;Произведение искусства – при условии, что мы ему отдаемся, – подчиняет нас целиком и полностью.
                        Предназначение искусства – не в том, чтобы быть подспорьем истины, будь она конкретной и исторической или вневременной.
                        Как писал РобГрийе, «искусство есть всё – если оно вообще может быть чем-то, –
                        а в таком случае оно должно быть самодостаточным, и ничего за его пределами не существует».
                        Как писал Роб-Грийе, «искусство есть всё – если оно вообще может быть чем-то, – а в таком случае оно должно
                        быть самодостаточным, и ничего за его пределами не существует».
                        <br> <i class="float-right pt-1">Фамилия Имя автора </i>
                    </p>
                    <img src="images/vk.png" class="width-sm-24">
                    <img src="images/fb.png" class="width-sm-24">
                    <img src="images/polytech.png" class="float-right width-sm-24">
                </div>
                <div class="col-lg-4 pb-4">
                    <p class="txt-23 font-playfair pb-4">
                        &nbsp;&nbsp;&nbsp;Произведение искусства – при условии, что мы ему отдаемся, – подчиняет нас целиком и полностью.
                        Предназначение искусства – не в том, чтобы быть подспорьем истины, будь она конкретной и исторической или вневременной.
                        Как писал РобГрийе, «искусство есть всё – если оно вообще может быть чем-то, –
                        а в таком случае оно должно быть самодостаточным, и ничего за его пределами не существует».
                        <br> <i class="float-right pt-1">Фамилия Имя автора </i>
                    </p>
                    <img src="images/vk.png" class="width-sm-24">
                    <img src="images/fb.png" class="width-sm-24">
                    <img src="images/polytech.png" class="float-right width-sm-24">
                </div>
            </div><!-- End of second -->
            <!-- Third row -->
            <div class="row mt-80">
                <div class="col-lg-4 pb-4">
                    <p class="txt-23 font-playfair pb-4">
                        &nbsp;&nbsp;&nbsp;Вспомним о Гомере и Шекспире, из которых целые поколения академиков и критиков тщились
                        выжать конкретные «взгляды» на природу человека, нравственность и общество, нравственность и общество.
                        <br> <i class="float-right pt-1">Фамилия Имя автора </i>
                    </p>
                    <img src="images/vk.png" class="width-sm-24">
                    <img src="images/fb.png" class="width-sm-24">
                    <img src="images/itmo.png" class="float-right width-sm-64-24">
                </div>
                <div class="col-lg-4 pb-4">
                    <p class="txt-23 font-playfair pb-4">
                        &nbsp;&nbsp;&nbsp;- На мой взгляд, Ортега совершенно прав. Но я предпочла бы не оставлять этот вопрос там же,
                        где и он – по умолчанию отделяя друг от друга реакцию эстетическую и нравственную. Я бы, скорее, сказала,
                        что искусство как раз связано с нравственностью – взять хотя бы моральное удовлетворение , которое может нам дать искусство. <br>
                        &nbsp;&nbsp;&nbsp;Именно поэтому мы с чистой совестью можем ценить произведения искусства, которые с точки
                        зрения только «содержания» выглядят морально предосудительными.
                        <br> <i class="float-right pt-1">Фамилия Имя автора </i>
                    </p>
                    <img src="images/vk.png" class="width-sm-24">
                    <img src="images/fb.png" class="width-sm-24">
                    <img src="images/polytech.png" class="float-right width-sm-24">
                </div>
                <div class="col-lg-4 pb-4">
                    <p class="txt-23 font-playfair pb-4">
                        &nbsp;&nbsp;&nbsp;Но стоит метафоре произведения как высказывания утратить силу, как исчезнет и двойственное отношение к «стилю»,
                        поскольку эта двойственность отражает предполагаемое напряжение между высказыванием и способом его высказать.
                        За термином «нравственность» стоит обычное или привычное поведение (включая чувства и поступки). <br>
                        &nbsp;&nbsp;&nbsp;Именно поэтому мы с чистой совестью можем ценить произведения искусства, которые с точки
                        <span class="red">зрения</span> только
                        «содержания» выглядят морально предосудительными. Но стоит метафоре произведения как высказывания утратить силу.
                        <br> <i class="float-right pt-1">Фамилия Имя автора </i>
                    </p>
                    <img src="images/vk.png" class="width-sm-24">
                    <img src="images/fb.png" class="width-sm-24">
                    <img src="images/polytech.png" class="float-right width-sm-24">
                </div>
            </div><!-- End of third -->
            <!-- Fourth row -->
            <div class="row mt-80">
                <div class="col-lg-4 pb-4">
                    <p class="txt-23 font-playfair pb-4">
                        &nbsp;&nbsp;&nbsp;Произведение искусства – при условии, что мы ему отдаемся, – подчиняет нас целиком и полностью.
                        Предназначение искусства – не в том, чтобы быть подспорьем истины, будь она конкретной и
                        исторической или вневременной. Как писал РобГрийе, «искусство есть всё – если оно вообще может быть чем-то,
                        – а в таком случае оно должно быть самодостаточным, и ничего за его пределами существует». <br>
                        &nbsp;&nbsp;&nbsp;Это своего рода кодекс действий, суждений и чувств, служащий укреплению нашей привычки поступать
                        определенным образом и предписывающий нам стандарт в духе любви. Произведение искусства –
                        при условии, что мы ему отдаемся, – подчиняет нас целиком.
                        <br> <i class="float-right pt-1">Фамилия Имя автора </i>
                    </p>
                    <img src="images/vk.png" class="width-sm-24">
                    <img src="images/fb.png" class="width-sm-24">
                    <img src="images/itmo.png" class="float-right width-sm-64-24">
                </div>
                <div class="col-lg-4 pb-4">
                    <p class="txt-23 font-playfair pb-4">
                        &nbsp;&nbsp;&nbsp;За термином «нравственность» стоит обычное или привычное поведение (включая чувства и поступки).
                        Это своего рода кодекс действий, суждений и чувств, служащий укреплению нашей привычки поступать
                        определенным образом и предписывающий нам стандарт в духе любви. <br>
                        &nbsp;&nbsp;&nbsp;Именно поэтому мы с чистой совестью можем ценить произведения искусства, которые с точки
                        зрения только «содержания» выглядят морально предосудительными.
                        <br> <i class="float-right pt-1">Фамилия Имя автора </i>
                    </p>
                    <img src="images/vk.png" class="width-sm-24">
                    <img src="images/fb.png" class="width-sm-24">
                    <img src="images/itmo.png" class="float-right width-sm-64-24">
                </div>
                <div class="col-lg-4 pb-4">
                    <p class="txt-23 font-playfair pb-4">
                        &nbsp;&nbsp;&nbsp;Вспомним о Гомере и Шекспире, из которых целые поколения академиков и критиков тщились
                        выжать конкретные «взгляды» на природу человека, нравственность и общество, нравственность и общество.
                        <br> <i class="float-right pt-1">Фамилия Имя автора </i>
                    </p>
                    <img src="images/vk.png" class="width-sm-24">
                    <img src="images/fb.png" class="width-sm-24">
                    <img src="images/itmo.png" class="float-right width-sm-64-24">
                </div>
            </div><!-- End of fourth -->
        </div>
    </main>
    <!-- Footer -->
    <%- include('./includes/footer.ejs') %>
    <%- include('./includes/end.ejs') %>
</body>
</html>